@media screen and (min-width:1024px){
    #go_top{display: block;}
    #go_top a{right:calc(((100vw - 960px) / 2) + 20px);}
}

@media screen and (min-width:1320px) {
    #go_top a{right:calc(((100vw - 1280px) / 2) + 20px);}
}